.event-item {
  &__voteBtn {
    &-up {
      &:disabled {
        cursor: not-allowed;
        svg {
          fill: #1F9D55;
        }
      }
    }
    &-down {
      &:disabled {
        cursor: not-allowed;
        svg {
          fill: #FFBBCA;
        }
      }
    }

  }
}
