.event-item {
  padding: 10px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
  background-size: 200% auto;
  transition: 0.5s;
  text-decoration: none;
  color: currentColor;

  &__disabled {
    background-image: linear-gradient(to right, #bdc3c7 0%, darken(#bdc3c7, 15%) 51%, #bdc3c7 100%);
  }

  &:hover { background-position: right center; }
  &__voteBtn {
    &-up {
      &-active {
        svg {
          fill: #51d88a;
        }
      }
    }
    &-down {
      &-active {
        svg {
          fill: #FFBBCA;
        }
      }
    }
    &-gray {
      &:disabled {
        &:hover {
          background-color: transparent;
        }
        cursor: not-allowed;
        svg {
          stroke: #606F7B;
          fill: #B8C2CC;
        }
      }
    }
  }
}
